/* 변지윤 */
.cart__container{
  /* width: var(--max-width); */
  width: 1200px;
  /* margin: 0 240px; */
}

.cart__title{
  text-align: center;
  padding: 10px;
}

.cart__select{
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.select__total{
  display: flex;
  border: 1px solid black;
}

.select__total__title{
  width: 75px;
}

.select__delete{
  display: flex;
}

.select__delete__title{
  width: 75px;
  border: 1px solid black;

}

.cart__list__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--color-blue-light); */
  background-color: #f4f4f4;
}

.list__container__inner{
  display: flex;
  width: 964px;
  height: 197px;
  background-color: var(--color-white);
  border: 1px solid black;
}

.list__desc{
  width: 490px;
}

.desc__container{
  display: flex;

}

.list__quantity{
  width: 178px;
}

.list__price{
  width: 133px;
}

.list__delivery{
  width: 133px;

}

.fixed__container{
  display: flex;
  position: fixed;
  bottom: 0;
  height: 76px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: var(--color-blue);
}

.fixed__price{
  width: 255px;
  /* height: 48px; */
}

.fixed__order{
  width: 230px;
  /* height: 48px; */
}