/* 신승주 */

.myPage__container {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  min-width: 250px;
  background-color: var(--color-blue-light);
  border: 1px solid var(--color-blue);
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
}

.myPage__inner {
  width: var(--max-width);
  display: flex;
  margin: 50px 0;
}

.navbar__li {
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid var(--color-black);
  border-radius: var(--border-radius);
  margin: 10px;
  font-size: 18px;
  color: black;
  font-weight: normal;
  background-color: lightgray;
}
