/* 신승주 */

.ordered__list {
  width: 100%;
  padding: 20px;
  padding-top: 0;
}

.search {
  display: flex;
  margin-bottom: 20px;
}

/* .order__wrapper {} */

.order__number {
  width: 200px;
  padding: 20px;
  border: 1px solid var(--color-blue);
  border-bottom: none;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.order__number__wrapper {
  width: 100%;
  padding: 20px;
  padding-bottom: 0;
  background-color: var(--color-blue-light);
  border: 1px solid var(--color-blue);
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  margin-bottom: 20px;
}

.order__detail__wrapper {
  display: flex;
  border: 1px solid var(--color-white);
  border-radius: var(--border-radius);
  margin-bottom: 20px;
  height: 250px;
  gap: 20px;
  overflow: hidden;
}

.detail__left {
  flex: 1.5;
}
.detail__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detail__middle,
.detail__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.detail__middle {
  flex: 2;
}

.detail__middle p {
  padding: 20px 0;
  margin-left: 40px;
}

.detail__right {
  flex: 1;
}

.review__submit {
}

/* 모달 */
.modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 80%;
  overflow-y: auto;
  background-color: var(--color-white);
  border: 2px solid var(--color-blue-light);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 4rem;
  display: flex;
  flex-direction: column;
}

.modal__wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 24px;
}

.modal__wrapper img {
  width: 50%;
  border-radius: var(--border-radius);
}

.modal__wrapper p {
  margin-left: 30px;
  font-size: 24px;
}

.modal__product__details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal__rating {
  display: flex;
  align-items: center;
}

.modal__upload {
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__upload:hover {
  background: rgb(77, 77, 77);
  color: #fff;
}

.modal__upload__input {
  display: none;
}

/* UploadInput 컴포넌트*/
.upload__input__container {
  display: flex;
}

.upload__input {
  display: flex;
  flex-direction: column;
}

.sr__only {
  display: none;
}

.label__button {
  width: 50px;
  border: none;
  background-color: var(--color-blue);
  border-radius: var(--border-radius);
  color: var(--color-white);
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.label__button:hover {
  background-color: var(--color-blue-light);
  color: var(--color-blue);
  cursor: pointer;
}

.review__submit {
  width: 100%;
}

.preview__container {
  width: 100%;
  display: flex;
  gap: 16px;
  margin-top: 24px;
  height: 100px;
}

.output__image {
  width: 90px;
  outline: 1px solid var(--color-black);
}
