/* 신승주 */

.ordered__list {
  width: 100%;
  padding: 20px;
  padding-top: 0;
}

.order__number {
  width: 200px;
  padding: 20px;
  border: 1px solid var(--color-blue);
  border-bottom: none;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.orders {
  width: 100%;
  padding: 20px;
  padding-bottom: 0;
  background-color: var(--color-blue-light);
  border: 1px solid var(--color-blue);
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  margin-bottom: 20px;
}

.order__container {
  display: flex;
  border: 1px solid var(--color-white);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  margin-bottom: 20px;
  height: 250px;
  gap: 20px;
  overflow: hidden;
}

.order__img {
  flex: 1.5;
}
.order__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order__details,
.order__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.order__details {
  flex: 2;
}

.order__details p {
  padding: 20px 0;
  margin-left: 40px;
}

.order__buttons {
  flex: 1;
}

/* 모달 */
.modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 80%;
  overflow-y: auto;
  background-color: var(--color-white);
  border: 2px solid var(--color-blue-light);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 26px 64px 0;
  display: flex;
  flex-direction: column;
}

.modal__details {
  width: 100%;
  display: flex;
  margin-bottom: 16px;
}

.modal__details img {
  width: 50%;
  border-radius: var(--border-radius);
}

.modal__details__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal__details__container p {
  margin-left: 30px;
  font-size: var(--font-size-medium);
}

.modal__rating {
  display: flex;
  align-items: center;
}

/* 리뷰 등록 후 나오는 nest 모달 */
.modal__inner.modal__inner__nest {
  width: 400px;
  height: auto;
  text-align: center;
}

.modal__inner__nest p {
  margin-bottom: 10px;
}

/* 이미지 등록 - UploadInput 컴포넌트*/
.modal__upload {
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__upload:hover {
  background: rgb(77, 77, 77);
  color: #fff;
}

.modal__upload__input {
  display: none;
}

.review__submit {
  width: 100%;
}

/* UploadInput */
.upload__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sr__only {
  display: none;
}

.label__button {
  background-color: var(--color-blue-light);
  color: var(--color-black);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  cursor: pointer;
  font-size: var(--font-size-regular);
  transition: all 0.3s ease;
  white-space: nowrap;
  user-select: none;
  width: 250px;
  display: flex;
  align-items: center;
}

.label__button:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.preview__container {
  width: 100%;
  display: flex;
  margin-top: 20px;
  height: 100px;
}

.output__image {
  width: 20%;
  margin-right: 1px;
}
