/* 신승주 */

.productList__container {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productList {
  width: var(--max-width);
  display: flex;
  flex-wrap: wrap;
}

.no__product {
  font-size: 50px;
  margin: 30px auto;
}
