/* 신승주 */

.productDetail {
  width: var(--max-width);
}

.detail__container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.detail__right {
  display: flex;
  padding: 24px;
  flex-direction: column;
  width: 50%;
}

.product__info {
  font-size: var(--font-size-medium);
  margin-top: 10px;
}

.product__price {
  color: var(--color-red);
  margin: 24px 0;
}

.product__rating {
  display: flex;
  align-items: flex-end;
}

.product__rating h3 {
  margin-right: 8px;
  font-size: var(--font-size-regular);
}

.product__rating p {
  color: var(--color-blue);
  font-size: var(--font-size-regular);
}

.detail__actions {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  margin: 40px 0;
  border-top: 1px solid var(--color-grey-light);
  border-bottom: 1px solid var(--color-grey-light);
}

.actions__container {
  display: flex;
  align-items: center;
}

/* ModalCart */

.modal__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
}

.modal {
  position: absolute;
  background: var(--color-white);
  transform: translate(-50%, -100%);
  padding: 10px 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
}

.modal__content {
  color: var(--color-black);
  padding: 10px;
}

.modal__content h2 {
  font-size: var(--font-size-regular);
  margin-bottom: 16px;
}

.arrow {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--color-white);
}
