/* 신승주 */

.logo__container {
  margin: 180px 0 60px 36px;
}

.login__section {
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius);
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.input__container {
  margin-bottom: 20px;
}

.input__wrapper {
  display: flex;
  align-items: center;
}

.label__box {
  width: 100px;
  text-align: right;
  font-weight: bold;
}

.input__box {
  display: flex;
  flex: 1;
  margin-left: 60px;
}

.input {
  width: 300px;
  padding: 10px;
}

.error {
  width: 100%;
  text-align: center;
  color: var(--color-red);
  padding: 0 20px;
  margin-top: 10px;
  white-space: pre-line;
}

.button__container {
  padding-left: 36px;
  margin-top: 20px;
  width: 100%;
}

.action__container {
  display: flex;
  margin-left: 36px;
  margin-top: 10px;
  cursor: default;
}

.action__container li:not(:last-child):after {
  content: '|';
  margin: 0 5px;
}

.sing__up {
  cursor: pointer;
  font-weight: bold;
}

.sing__up:hover {
  color: var(--color-blue);
}
