:root {
  --color-blue: #637a9f;
  --color-blue-light: #c9d7dd;
  --color-white: #fff;
  --color-black: #000;
  --color-red: #f00;
  --color-orange: #ec952e;
  --box-height: 80px;
  --margin-space: 50px;
  --margin-horizontal: 0 240px;
  --border-radius: 10px;
}

body * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black);
}
