/* 신승주 */

.best__reviews {
  margin: 50px 240px 25px;
  width: var(--max-width);
}

.best__reviews__title {
  background-color: var(--color-blue);
  color: var(--color-white);
  height: 64px;
  width: 220px;
  font-size: var(--font-size-large);
  font-weight: bold;
  text-align: center;
  line-height: 64px;
  margin-left: 10px;
}

.best__reviews__items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
