/* 박용재 */

* {
  margin: 0;
  padding: 0;
}

.top_header {
  width: 1200px;
  height: 110px;
  background-color: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_head_content {
  justify-content: center;
}

.box_mytools {
  display: flex;
  align-items: flex-end;
}

.main_icon {
  border: 1px solid black;
  font-size: 3rem;
}

.list_mytools {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  font-size: 1.5rem;
  width: 200px;
}

/* 
.top_header {
  height: var(--box-height);
  width: 1200px;
  background-color: var(--color-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_title {
  border: 1px solid black;
  width: 200px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.text_content {
  border: 1px solid black;
  width: 200px;
  padding: 10px;
  display: flex;
  justify-content: space-around;

} */

/* 

.middle_header {
  border: 1px solid black;
  height: var(--box-height);
  background-color: var(--color-blue);
}

.middle_header_contianer {
  display: flex;
  align-items: center;
}

.page_title_list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  border: 1px solid green;
  width: 50%;
  padding: 30px;
}

.user_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  
  padding: 10px;
  border: 1px solid purple;
  &:hover {
    color: var(--color-white);
  }
}


.navi_body {
  border: 1px solid black;
  height: 400px;
  background-color: var(--color-white);

}

.search_tab {
  border: 1px solid black;
  height: 50px;
  display: flex;
  justify-content: center;
}

.search_input {
  width: 400px;
  height: 50%;
  display: flex;
  margin-top: 10px;
}

.search_title {
  margin: 0;
  padding: 12px;
}

.navi_image {
  width: 850px;
  height: 400px;
}


.login,
.sign_up,
.my_page,
.search_icon,
.shopping_icon {
  &:hover {
    font-weight: bold;
  }
} */
