.modal__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
}

.modal {
  width: 220px;
  position: absolute;
  /* left와 top은 tsx에서 변수로 받아옴 */
  /* left: 23px; */
  /* top: -10px; */
  background: var(--color-white);
  transform: translate(-50%, -100%);
  padding: 10px 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
}

.modal__content {
  color: var(--color-black);
  padding: 10px;
}

.modal__content h2 {
  font-size: var(--font-size-regular);
  margin-bottom: 16px;
}

.arrow {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--color-white);
}
