/* 신승주 */
.item__container {
  width: 25%;
  padding: 0 10px;
  margin: 15px 0px;
  cursor: pointer;
}

.item__img {
  width: 100%;
  height: 246px;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.item__descriptions {
  padding: 10px 5px;
}

.item__title {
  font-weight: bold;
}

.item__infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.item__price {
  color: var(--color-red);
  font-weight: bold;
}

.rating__star__container {
  display: flex;
  margin-right: 10px;
}

.stars {
  display: flex;
  color: var(--color-orange);
}

.rating__count {
  color: var(--color-blue);
}
