/* 신승주 */

.upload__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sr__only {
  display: none;
}

.label__button {
  background-color: var(--color-blue-light);
  color: var(--color-black);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  cursor: pointer;
  font-size: var(--font-size-regular);
  transition: all 0.3s ease;
  white-space: nowrap;
  user-select: none;
}

.label__button:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.preview__container {
  width: 100%;
  display: flex;
  margin-top: 24px;
  height: 100px;
}

.output__image {
  width: 20%;
  margin-right: 1px;
}
